<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://placehold.co/400x200/ffffff/000000/png" alt="" height="200px">
    </div>
    <div class="big-card__title">
        <h1><a href="#">Lorem ipsum dolor sit</a></h1>
    </div>
    <div class="big-card__description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur adipisicing elit
            Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
</div>