.container__small-card {
    width: 100%;
    margin-bottom: 15px;
}

.container__small-card-content {
    display: flex;
}

.small-card__photo > img {
    width: 200px;
    /* min-width: 200px; */
    margin-right: 20px;
}

.small-card__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__small-card-separator {
    margin-top: 10px;
}

hr {
    color: #00ff73;
}

@media (max-width: 558px) {
    .container__small-card {
       width: 80%;
       margin-left: 50px;
       font-size: 10px;
    }
}